<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Read(One)</title>
</head>
<body>
    <div class="container">
    <h1 class='text-center'> User {{user.id}}</h1>
    <table class="table">
        <tr>
              <th scope="col">Full Name</th>
              <th scope="col">Email</th>
              <th scope="col">Created At:</th>
              <th scope="col">Updated At:</th>
        </tr>
        <tr>
            <th scope="row">{{user.first_name}} {{user.last_name}}</th>
            <th scope="row">{{user.email}}</th>
            <th scope="row">{{user.created_at}}</th>
            <th scope="row">{{user.updated_at}}</th>
        </tr>
        <div>
            <a class="btn btn-primary" href="/user/edit/{{user.id}}">Edit User</a>
            <a class="btn btn-danger" href="/user/delete/{{user.id}}">Delete User</a>
          </div>
        </div>
        <p><a href='/user'>Home</a></p>
</body>
</html>