<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    <h1 class="display-1 text-center">Counter</h1>
    <p class="display-3 text-center" >{{count}}</p>
    <ul class="d-flex justify-content-around"style="list-style-type: none;">
        <li><form method="post">
            <input type="submit" value="Reset">
        </form>
    </li>
    <!--<li>
        <form method="get">
            <label for="quantity">Add to counter</label>
            <input type="number" id="quantity">
            
        </form>
    </li> !-->
    </ul>
</body>
</html>

